.Profile {
  margin-top: 5rem;
}

.Profile .container {
  width: 90%;
  margin: 8rem auto;
}

.Profile .container .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.Profile .container .grid-container img {
  width: 100%;
  border-radius: 5px;
}

.Profile h1 {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 4em;
}

.Profile h2 {
  text-align: center;
  font-weight: 400;
  font-size: 4em;
}

.Profile h3 {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
}

.Profile h4 {
  font-size: 2em;
  margin: 2em auto;
}

.Profile .details h4 {
  font-weight: 400;
  font-size: 15px;
}
.Profile .details p {
  text-align: center;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
}

.Profile .btn {
  border: none;
  padding: 1rem 0.8rem;
  color: #000;
  min-width: 20%;
  cursor: pointer;
}

.Profile .delete-btn {
  margin: 0 2rem;
  color: #fff;
  background: linear-gradient(to right, red, rgb(66, 27, 66));
}

.Profile .edit-btn {
  background: linear-gradient(45deg, #3f33e7, #15d8f1);
  color: #fff;
}

.Profile .delete-btn:hover,
.edit-btn:hover {
  /* opacity: .7; */
  filter: brightness(120%);
}

.Profile .form {
  margin-top: 2rem;
  background-color: #ddd;
  padding: 1rem;
  border-radius: 4px;
  background: url(../../img/img4.jpg);
  background-position: center;
  background-size: cover;
}

.Profile input,
textarea {
  display: block;
  padding: 1rem 0.7rem;
  width: 70%;
  margin: 1rem auto;
  border: 1px solid #808080b0;
  background: #f1f1f1be;
  border-radius: 10px;
}

.Profile input:focus {
  outline: 1px solid #808080b0;
  background-color: #fff;
}

.Profile .btn.btn-warning {
  margin: auto;
  display: block;
  width: 50%;
}

@media screen and (max-width: 880px) {
  .Profile .container .grid-container {
    display: block;
  }
}

.Profile .gender {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  position: relative;
}

.Profile .gender label,
.Profile label {
  font-size: 17px;
  color: #fff;
  text-align: center;
}

.Profile .gender input[type="radio"] {
  display: inline;
}
