.Home .jumbotron {
  height: 95vh;
  background: url(https://wallpapercave.com/wp/wp2742508.jpg);
}
.Home .showcase h1 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  padding: 1em;
  font-size: 5em;
}

.Home .showcase h2 {
  color: #fff;
  text-align: left;
  margin-left: 2em;
}

.Home .showcase {
  background: rgba(0, 0, 0, 0.767);
  height: 95vh;
}

.Home .section {
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
}

.Home .section {
  margin: 1rem;
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 4px;
  color: #111;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.Home .section .item-group.explore h4 {
  margin-bottom: 5.4rem;
}

.Home .section .item-group h2 {
  margin-top: 2.2rem;
}

.Home .section .item-group.explore {
  padding: 1.4rem;
}

.Home .section img {
  border-radius: 7px;
  margin-top: 1.1rem;
}

@media screen and (max-width: 900px) {
  .Home .section {
    display: block;
  }
}
