@import "../../styles/partials/mixins";
.home {
  margin-top: 8vh;
  overflow: hidden;
  &__hero {
    height: 90vh;
    background: url(https://wallpapercave.com/wp/wp2742508.jpg);

    &-overlay {
      background: rgba(0, 0, 0, 0.767);
      height: 90vh;
    }

    &-content {
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90vh;
      margin: auto;
    }
    &-heading {
      color: #fff;
      text-align: center;
      font-size: 4rem;
      margin-top: -4rem;
    }
  }

  &__explore {
    width: 90%;
    margin: auto;
    &-header {
      text-align: center;
      font-size: 2.4rem;
      text-transform: capitalize;
    }
    &__group {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-item {
        line-height: 2;
      }
    }
  }
}

.Home .showcase h1 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  padding: 1em;
  font-size: 5em;
}

.Home .section .item-group.explore h4 {
  margin-bottom: 5.4rem;
}

.Home .section .item-group h2 {
  margin-top: 2.2rem;
}

.Home .section .item-group.explore {
  padding: 1.4rem;
}

.Home .section img {
  border-radius: 7px;
  margin-top: 1.1rem;
}

@media screen and (max-width: 900px) {
  .Home .section {
    display: block;
  }
}
