.LocationDetails {
  margin-top: 4.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 91%;
  margin: 4.5rem auto;
  font-size: 14px;
}

.LocationDetails .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 95%;
  margin: 8em auto;
  margin-bottom: 6rem;
  background: #f8f6f6;
}

.LocationDetails .img-container img {
  border-radius: 7px;
  width: 100%;
  position: relative;
}

.LocationDetails .img-container {
  width: 100%;
  margin: auto;
}

.LocationDetails .comment img {
  width: 45px;
  min-height: 50px;
  max-width: 50px;
  border-radius: 50%;
}

.LocationDetails .details {
  text-align: center;
  font-weight: 1.4em;
  padding: 2rem;
  margin: 2rem;
  margin-top: 0;
  max-width: 80%;
  overflow-x: scroll;
}

.LocationDetails .details h1 {
  margin-bottom: 3rem;
  max-width: 80%;
  text-align: center;
}

.LocationDetails hr.sep-2 {
  margin-bottom: 3rem;
  margin-left: 1rem;
  border: 0;
  height: 1px;
  width: 50%;
  background-image: linear-gradient(
    to right,
    #f0f0f0,
    #00b9ff,
    #59d941,
    #f0f0f0
  );
}

.LocationDetails .btn-controller {
  /* position: absolute;
    top: -500px;
    right: -100px; */
  color: #011b1d;
  cursor: pointer;
}

.LocationDetails span.options {
  margin: 1rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  /* position: absolute;
    top: 100px;
    left: 100px; */
  left: -20%;
  top: 50%;
  cursor: pointer;
}

.LocationDetails span.options.btn {
  display: block;
  align-items: flex-end;
}

.LocationDetails span.button {
  margin: 1rem 2rem;
  display: block;
}

.LocationDetails span.button .btn-danger {
  margin: 2rem;
}

.LocationDetails span.options .none {
  display: none;
  visibility: hidden;
}

.LocationDetails span.button .comment-btn {
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

/* COMMENTS */
.LocationDetails .comment-container .comment {
  display: flex;
  justify-content: left;
  margin-left: 2.7rem;
}

.LocationDetails .comment-container .comment .text {
  background: linear-gradient(to right, #f0f0f0, #f0f0f0);
  display: flex;
  padding: 1rem;
  margin-left: 1.2rem;
  margin-top: 4px;
  border-radius: 5px;
  max-width: 31%;
  min-width: 31%;
  position: relative;
}

.LocationDetails .comment-container .comment .text h4 {
  margin-top: 5px;
}
.LocationDetails .comment-container .comment .text h4:hover {
  text-decoration: underline;
}

.LocationDetails .comment-container .comment .text .options-btn {
  position: absolute;
  top: 10px;
  left: 90%;
}

.LocationDetails .comment-container .comment hr {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  border: 0;
  height: 1px;
  /* margin-top: 2rem; */
}

.LocationDetails h2 {
  font-size: 2em;
  margin: 2rem;
  font-family: "Montserrat";
}

.LocationDetails .comment-input {
  /* display: flex;
    justify-content: space-around; */
}

.LocationDetails .comment-input input {
  padding: 1rem;
  margin: 1rem;
  position: fixed;
  width: 25%;
  bottom: 0;
  left: 42%;
  z-index: 3;
  border-radius: 10px;
  border: 1px solid rgba(156, 154, 154, 0.849);
  transition: 250ms linear;
}

.LocationDetails .comment-input input:focus {
  box-shadow: 0 2px 5px 0 rgba(49, 76, 167, 0.411),
    0 2px 10px 0 rgba(42, 69, 94, 0.384);
  outline: none;
}

.LocationDetails .comment-input button {
  position: fixed;
  left: 72%;
  bottom: 0;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 7%;
}

@media screen and (max-width: 768px) {
  .LocationDetails .container {
    display: block;
  }
}
