.LocationItem {
  background-color: #fff;
  border-radius: 8px;
}

.LocationItem hr.sep-2 {
  margin: 1rem auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #f0f0f0,
    #00b9ff,
    #59d941,
    #f0f0f0
  );
}

.LocationItem .container img {
  border-radius: 5px;
  max-height: 200px;
}

.LocationItem .container .item {
  text-align: center;
  transition: 250ms ease;
  padding: 1.3rem;
  margin: 0;
}

.LocationItem .btn-outline-secondary {
  margin-bottom: 5rem;
}
.LocationItem .container h4 {
  margin-bottom: 2.4rem;
}

.LocationItem .container:hover {
  border-radius: 8px;
  box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.164),
    1px 2px 4px rgba(0, 0, 0, 0.336);
}

@media screen and (max-width: 780px) {
  .LocationItem .container {
    width: 100%;
  }
  .LocationItem .container img {
    max-width: 250px;
    min-height: 200px;
    max-height: 210px;
  }
  .LocationItem .container .item {
    padding: 1rem;
    width: 100%;
    /* margin: 2rem; */
  }
}

@media screen and (max-width: 615px) {
  .LocationItem .btn-outline-secondary {
    margin-bottom: 5rem;
  }
  .LocationItem .container h4 {
    margin-bottom: 2.4rem;
  }
}
