@import "../../styles/partials/mixins";
.navbar {
  // background-color: crimson;
  display: block;
  position: static;
  font-size: 1.2rem;
  @include tabletBreakpoint {
    display: flex;
    background: #fff;
    color: #111;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(53, 53, 53, 0.411),
      0 2px 10px 0 rgba(105, 104, 104, 0.384);
    width: 100%;
    z-index: 1;
  }

  @include laptopBreakpoint() {
    font-size: 1rem;
  }
  @include tabletBreakpoint() {
    font-size: 1rem;
    font-size: 0.7rem;
    height: 11vh;
  }

  &__group {
    display: block;
    @include tabletBreakpoint {
      display: flex;
      justify-content: space-between;
      text-align: center;
      // width: 20%;
    }
    @include laptopBreakpoint {
      display: flex;
      justify-content: space-between;
      text-align: center;
      // width: 20%;
    }

    &-item {
      text-align: left;
      width: 100%;
      border-bottom: 1px solid rgba(3, 3, 3, 0.096);
      padding: 1rem;

      &:hover {
        background-color: rgba(48, 49, 49, 0.233);
        cursor: pointer;
      }
      @include tabletBreakpoint {
        border-bottom: none;
      }
      @include laptopBreakpoint {
        padding: 1rem;
        font-weight: 600;
        font-size: 1.2em;
        cursor: pointer;
        text-align: center;
        margin: auto;
        border-bottom: none;
      }

      a {
        text-decoration: none;
        color: #111;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        margin-right: 0.4rem;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }
    }
    &-menuIcon {
      display: block;
      color: black;
      cursor: pointer;
      @include tabletBreakpoint {
        display: none;
      }
      @include laptopBreakpoint {
        display: none;
      }
    }
    &--none {
      position: absolute;
      transform: translateY(100%);
      display: none;
      opacity: 0;
      pointer-events: none;
      @include tabletBreakpoint {
        display: block;
        transform: translateY(0);
        opacity: 1;
        position: static;
        display: flex;
        justify-content: space-between;
      }
      @include laptopBreakpoint {
        display: block;
        transform: translateY(0);
        opacity: 1;
        position: static;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .dropdown {
    position: absolute;
    top: 107%;
    width: 150px;
    height: 100px;
    background: #fff;
    /* right: 0; */
    border-radius: 0.3rem;
    &__item {
      margin: 0.5rem 0;
      text-transform: capitalize;
      border-bottom: 1px solid #ddd;
      color: grey;
      padding: 0.6rem;
    }
  }
}

.brand {
  border: none;
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: #fff;
    cursor: default;
  }
  @include laptopBreakpoint {
    color: #111;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
  }
}

@media screen and (max-width: 880px) {
  // .d-none {
  //   position: absolute;
  //   transform: translateY(100%);
  //   display: none;
  //   opacity: 0;
  //   pointer-events: none;
  // }
  // .Navbar nav {
  //   display: block;
  //   position: static;
  //   z-index: 1;
  // }
  // .Navbar .nav-group {
  //   display: block;
  // }
  // .Navbar .nav-item {
  //   text-align: left;
  //   width: 100%;
  //   padding-left: 10px;
  //   border-bottom: 1px solid rgba(0, 255, 221, 0.205);
  // }
  .Navbar .nav-item:hover {
    background-color: rgba(0, 255, 255, 0.233);
    color: rgb(153, 139, 139);
  }
  // .Navbar .brand {
  //   /* text-align: center; */
  //   border: none;
  //   display: flex;
  //   justify-content: space-between;
  // }
  .Navbar .brand:hover {
    background: none;
  }
  .Navbar .nav-item:nth-last-of-type(1) {
    margin-left: 0;
  }
  .icon {
    color: black;
  }
  // .menu-icon {
  //   display: block;
  // }
}
